In [3]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split

import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv("categorical_retail_data.csv")
df.head()

,date,store,store_type,region,product,brand,category,sales,price
0,2023-01-01,Store_A,Urban,North,Phone_X,Brand_A,Electronics,120,15000
1,2023-01-02,Store_A,Urban,North,Rice_5kg,Brand_B,Grocery,300,150
2,2023-01-03,Store_B,Rural,South,Phone_X,Brand_A,Electronics,90,15000
3,2023-01-04,Store_B,Rural,South,Jeans_Men,Brand_C,Clothing,200,1200
4,2023-01-05,Store_C,Urban,East,Rice_5kg,Brand_B,Grocery,350,150

In [7]:
df.select_dtypes(include='object').columns

Index(['date', 'store', 'store_type', 'region', 'product', 'brand',
       'category'],
      dtype='object')

In [8]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df['store_enc'] = le.fit_transform(df['store'])
df['region_enc'] = le.fit_transform(df['region'])

In [9]:
df = pd.get_dummies(
    df,
    columns=['category', 'store_type'],
    drop_first=True
)

In [10]:
brand_freq = df['brand'].value_counts()
df['brand_freq'] = df['brand'].map(brand_freq)

In [11]:
product_target_mean = df.groupby('product')['sales'].mean()
df['product_target_enc'] = df['product'].map(product_target_mean)

In [12]:
print("Dataset shape:", df.shape)

Dataset shape: (12, 16)

In [13]:
df.drop(
    columns=['store','region','brand','product'],
    inplace=True
)

In [14]:
df.head()

,date,sales,price,store_enc,region_enc,category_Electronics,category_Furniture,category_Grocery,store_type_Semi-Urban,store_type_Urban,brand_freq,product_target_enc
0,2023-01-01,120,15000,0,1,True,False,False,False,True,3,106.666667
1,2023-01-02,300,150,0,1,False,False,True,False,True,3,350.000000
2,2023-01-03,90,15000,1,2,True,False,False,False,False,3,106.666667
3,2023-01-04,200,1200,1,2,False,False,False,False,False,3,196.666667
4,2023-01-05,350,150,2,0,False,False,True,False,True,3,350.000000

In [15]:
df.to_csv("engineered_retail_data.csv", index=False)

print("✅ engineered_retail_data.csv created successfully")
df.head()

✅ engineered_retail_data.csv created successfully

,date,sales,price,store_enc,region_enc,category_Electronics,category_Furniture,category_Grocery,store_type_Semi-Urban,store_type_Urban,brand_freq,product_target_enc
0,2023-01-01,120,15000,0,1,True,False,False,False,True,3,106.666667
1,2023-01-02,300,150,0,1,False,False,True,False,True,3,350.000000
2,2023-01-03,90,15000,1,2,True,False,False,False,False,3,106.666667
3,2023-01-04,200,1200,1,2,False,False,False,False,False,3,196.666667
4,2023-01-05,350,150,2,0,False,False,True,False,True,3,350.000000